.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-search {
    border-radius: 4px;

}

.dashboard-card {
    display: flex;
    flex-direction: row;
}

.icon-cart{
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.card {
    width: 18rem;
    margin-bottom: 2rem;
}

.dashboard-card-img {
    max-height: 200px;
    min-height: 200px;
    max-width: 270px;
    min-width: 100%;
    object-fit: contain;   
    border-radius: 10px;
}

.btn-card {
    width: 100%;
}

.cart {
    gap: 2rem
}

.cart-img {
    min-width: 40px;
    max-width: 40px;
}

.icon-trash {
    cursor: pointer;
}

.cart-content {
    padding-bottom: 1rem;
    padding-left: 2rem;
    align-items: center;
}

.modal .cart-card {
    /* border: none; */
    border-bottom: 1px solid #dadada;
    border-radius: 10px;
}

.dashboard-card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dashboard-card .card {
    border: none
}

.cart-products {
    gap: 2rem;
}

.content-cart-list {
    margin-bottom: 2rem;
}

.table {
    border: 2px solid #f4f4f4;
    padding: 5px;
}

.table>:not(:last-child)>:last-child>* {
    border: none;    
}

.table>:not(caption)>*>* {
    
    border-bottom-width: 0px !important; 

}